<div class="d-inline-flex align-items-center">
  <a href="/tweet/<%= tweetData.id %>" class="view-tweet-link btn btn-sm btn-outline-primary me-2">View</a>
  <form action="/unfavorite/<%= tweetData.id %>" method="POST" class="m-0">
    <button type="submit" class="btn btn-sm btn-warning">Unfavorite</button>
  </form>
</div>