<div class="d-inline-flex align-items-center">
  <% if (tweetData.isFavorite) { %>
    <form action="/unfavorite/<%= tweetData.id %>" method="POST" class="m-0">
      <button type="submit" class="btn btn-sm btn-warning">Unfavorite</button>
    </form>
  <% } else { %>
    <form action="/favorite/<%= tweetData.id %>" method="POST" class="m-0">
      <button type="submit" class="btn btn-sm btn-success">Favorite</button>
    </form>
  <% } %>
</div>