<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Media</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>All Media</h1>
    <div class="media-grid">
        <% media.forEach(item => { %>
            <div class="media-item">
                <% if (item.type === 'photo') { %>
                    <img src="<%= item.media_object.media_url_https %>" alt="Tweet Media">
                <% } else if (item.type === 'video') { %>
                    <video controls src="<%= item.lien %>"></video>
                <% } %>
            </div>
        <% }); %>
    </div>
    <%- include('partials/pagination', { currentPage: currentPage, totalPages: totalPages }) %>
</body>
</html>