<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Tweets</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <%- include('partials/sidebar', { allAccounts: allAccounts, favoriteAccounts: favoriteAccounts }) %>
        <div class="main-content">
            <h1>Your Favorite Tweets</h1>
            <%- include('partials/tweetList', { tweets: tweets, formatTweetText: formatTweetText }) %>
        </div>
    </div>
</body>
</html>