<div class="pagination">
    <% 
    const queryParams = new URLSearchParams();
    if (locals.query) { queryParams.set('query', locals.query); }
    if (locals.search) { queryParams.set('search', locals.search); }
    %>

    <% if (currentPage > 1) { %>
        <% queryParams.set('page', currentPage - 1); %>
        <a href="?<%= queryParams.toString() %>">Previous</a>
    <% } %>

    <span>Page <%= currentPage %> of <%= totalPages %></span>

    <% if (currentPage < totalPages) { %>
        <% queryParams.set('page', currentPage + 1); %>
        <a href="?<%= queryParams.toString() %>">Next</a>
    <% } %>
</div>